@font-face {
  font-family: 'OnePiece';
  src: url('one_piece_font.ttf') format('truetype');
}

#root {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container {
  position: relative;
  width: 100%;
  max-width: 1400px;
}

body {
  background-image: url('images/sky_background.jpg'); /* Remplacez par le chemin de votre image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#header {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

#header a {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1.2em;
  color: #fff;
  background-color: #007BFF;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  font-family: 'OnePiece', sans-serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  letter-spacing: 2px;
}

#header a:hover {
  background-color: #0056b3;
  transform: scale(1.1);
}
